.layout{ 
  height: 100%;
}
.header {
  position: relative;
  .headpic {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }}
  }
  .right {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
  }
  


