.login {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: #860a0a;
  background: url('~@/assets/bg.webp') no-repeat center/cover;
  .ant-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 360px;
    box-shadow: 0 0 50px rgb(0 0 0/10%);
    img {
      display: inline-block;
      width: 100%;
    }
  }
}