.icons {
  display: inline-block;
  width: 26px;
  height: 26px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
}
.blue {
  background-color: rgb(5, 5, 191);
  margin-right: 12px;
}
.red { 
  background-color: rgb(176, 2, 2);
}
.img {
  display: inline-block;
  width: 45px;
  height: 45px;
}